
# Ignore everything
*

# But not the following folders or files
!.gitignore

#
!Flightmare
Flightmare.meta

#
!RPGGate
RPGGate.meta

#
!Resources
Resoucres.meta

#
Top_Level_Scene.unity
Top_Level_Scene.unity.meta

# not cs files
!*.cs
*.meta
.DS_Store
*.mat
*.blend
*.prefab
*.fbx
*.FBX
*.log